:root {
   --body_dark: rgb(49, 53, 65);
   --body_light: rgb(240, 242, 244);
   --nav_dark: rgba(40, 40, 50, 0.95);
   --nav_light: rgba(236, 236, 240, 0.95);
   --nav_super_dark: rgb(225, 240, 240);
   --nav_super_light: black;
   --nav_super_hov_dark: rgb(238, 255, 246);
   --nav_super_hov_light: rgb(10, 0, 80);
   --icon_dark: rgba(240, 255, 255, 0.9);
   --amone: #4183C4;
}

::-webkit-scrollbar-track {
   border-radius: 10px;
   background-color: #afafaf;
}

::-webkit-scrollbar {
   background-color: transparent;
}

::-webkit-scrollbar-thumb {
   border-radius: 10px;
   background-color: rgb(85, 85, 85);
}

html {
   margin-right: calc(100% - 100vw);
}

body {
   margin: 0;
   overflow-x: hidden;
   background-color: var(--body_light);
}

.dark body {
   background-color: var(--body_dark);
}

title {
   display: inline-block;
   width: 100%;
   font-size: 2.12em;
   font-weight: bold;
}

time {
   display: block;
   text-align: right;
}

.text-center {
   text-align: center;
}

.markdown {
   width: calc(40% + 200px);
}

.drags {
   position: fixed;
   z-index: 910;
   width: auto;
   height: fit-content;
   background-color: var(--nav_light);
   cursor: move;
   border-radius: 8px;
}

.dark .drags {
   background-color: var(--nav_dark) !important;
}

#contents {
   cursor: auto;
   width: max-content;
   margin: 22px 10px 8px;
   padding-top: 2px;
   border-top: var(--amone) 1px solid;
}

#contents a {
   display: block;
   text-decoration: none;
   color: var(--nav_super_light);
}

#contents a:hover {
   text-decoration: underline;
}

.dark #contents a {
   color: var(--nav_super_dark) !important;
}

.pell {
   width: 40px !important;
   height: 40px !important;
   border-radius: 50%;
   border: 1px solid var(--amone);
   overflow: hidden;
}

.pell #contents {
   margin-top: 40px;
}

a.H1 {
   font-size: 1.15em;
}

a.H2 {
   margin-left: 0.5em;
   font-size: 1.12em;
}

a.H3 {
   margin-left: 1em;
   font-size: 1.09em;
}

a.H4 {
   margin-left: 1.5em;
   font-size: 1.06em;
}

a.H5 {
   margin-left: 2em;
   font-size: 1.03em;
}

a.H6 {
   margin-left: 2.5em;
   font-size: 1em;
}

summary::marker {
   color: transparent;
}

summary {
   list-style: none;
   outline: none;
   display: inline-block;
   width: 100%;
   text-align: right;
}

summary::-webkit-details-marker {
   display: none;
}

nav {
   z-index: 900;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   position: fixed;
   top: 0;
   left: 0;
   width: fit-content;
   height: 100vh;
   background-color: var(--nav_light);
}

.dark nav {
   background-color: var(--nav_dark) !important;
}

nav a {
   text-decoration: none;
   display: block;
   color: var(--nav_super_light);
}

nav a:hover {
   color: var(--nav_super_hov_light);
   text-decoration: underline;
}

.dark nav a {
   color: var(--nav_super_dark) !important;
}

.dark nav a:hover {
   color: var(--nav_super_hov_dark) !important;
}

#catalog summary {
   position: relative;
   min-width: 48px;
   min-height: 40px;
}

#catalog summary svg {
   position: absolute;
   left: 5px;
   margin-top: 2px;
}

#catalog a {
   padding: 0 8px 0 16px;
}

#catalog a:first-child {
   margin-top: 10px;
}

.dark #catalog path {
   stroke: var(--icon_dark)
}

#catabar {
   display: flex;
   flex-direction: column;
   margin-top: 2.5px;
   margin-left: 6px;
   margin-bottom: 3px;
}

.dark #color-mode path {
   fill: var(--icon_dark)
}

.dark #lang path {
   stroke: var(--icon_dark)
}

@media (max-width: 600px) {
   .markdown {
      margin-top: 43px;
      width: 95%;
      padding: 2.5%;
   }

   nav {
      width: 100%;
      height: fit-content;
      flex-direction: row-reverse;
   }

   nav>details,
   nav>div {
      width: fit-content;
   }

   .h600 {
      display: none;
   }

   #catalog summary svg {
      left: auto;
      right: 5px;
   }

   #catabar {
      flex-direction: row-reverse;
   }
}

.dark #totop path {
   stroke: var(--icon_dark);
}

#totop {
   position: fixed;
   right: 2.5%;
   bottom: 5%;
}

#lang>div {
   display: none;
   width: max-content;
   position: absolute;
   left: 38px;
   top: 0;
   font-size: 102.5%;
   padding: 6px;
   border-radius: 6px;
}

#lang:hover>div {
   display: block;
   background-color: var(--nav_light);
}

.dark #lang:hover>div {
   display: block;
   background-color: var(--nav_dark);
}

pre {
   position: relative;
}

.copy {
   position: absolute;
   right: 12px;
}

.copy path {
   stroke: var(--amone);
}

.copied path {
   stroke: rgb(126, 231, 135);
}