<html>

<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.1">
   <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/atom-one-light.min.css">
   <link rel="stylesheet/less" type="text/css" href="/public/less/mdstyle.less">
   <script src="https://cdn.jsdelivr.net/npm/less@4"></script>
   <script src="/public/js/jquery.min.js"></script>
   <link rel="stylesheet" href="/public/css/posts.css">
   <style>
      html {
         -webkit-overflow-scrolling: touch;
      }
   </style>
</head>

<body>
   <nav>
      <details id="catalog" class="o1180">
         <summary>
            <svg width="38" height="38" viewBox="0 0 48 48" fill="none">
               <path d="M7.94971 11.9497H39.9497" stroke="#000" stroke-width="3" stroke-linecap="round"
                  stroke-linejoin="round" />
               <path d="M7.94971 23.9497H39.9497" stroke="#000" stroke-width="3" stroke-linecap="round"
                  stroke-linejoin="round" />
               <path d="M7.94971 35.9497H39.9497" stroke="#000" stroke-width="3" stroke-linecap="round"
                  stroke-linejoin="round" />
            </svg>
         </summary>
         <div>
            {{range $i, $v := .Catalog}}
            <a href="{{$v.Super}}" class="H{{$v.Level}}">{{$v.Name}}</a>
            {{end}}
      </details>
      <div id="catabar">
         <div id="lang" style="position: relative;">
            <svg width="38" height="38" viewBox="0 0 48 48" fill="none">
               <path
                  d="M28.2857 37H39.7143M42 42L39.7143 37L42 42ZM26 42L28.2857 37L26 42ZM28.2857 37L34 24L39.7143 37H28.2857Z"
                  stroke="#333" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
               <path d="M16 6L17 9" stroke="#333" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
               <path d="M6 11H28" stroke="#333" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
               <path d="M10 16C10 16 11.7895 22.2609 16.2632 25.7391C20.7368 29.2174 28 32 28 32" stroke="#333"
                  stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
               <path d="M24 11C24 11 22.2105 19.2174 17.7368 23.7826C13.2632 28.3478 6 32 6 32" stroke="#333"
                  stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            <div>
               <a id="en" href="/en/docs/">English</a>
               <a id="zh" href="/zh/docs/">简体中文</a>
               <a id="ru" href="/ru/docs/">pyccкий</a>
            </div>
         </div>
         <div>{{template "color-mode"}}</div>
      </div>
   </nav>
   <div id="overview" class="drags h720" style="top:20%;">
      <div id="contents" class="hide"></div>
   </div>
   <a id="totop" href="javascript:scroll(0,0)">
      <svg width="40" height="40" viewBox="0 0 48 30" fill="none">
         <path d="M24.0083 14.1006V42.0001" stroke="#333" stroke-width="3" stroke-linecap="round"
            stroke-linejoin="round" />
         <path d="M12 26L24 14L36 26" stroke="#333" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
         <path d="M12 6H36" stroke="#333" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
   </a>
   {{template "MarkdownRenderer" .}}
   <script>
      const postsImagesApi = '/img'
      const img = $(".markdown img")
      if (img.length)
         img.each(function () {
            if ($(this).attr('src').indexOf("/public") != 0) {
               $(this).attr('src', `${postsImagesApi}?pathname=${location.pathname}&&filepath=${$(this).attr('src')}`)
            }
         })
      if ($(document).width() >= 1180) $(".o1180").attr("open", true);
      console.log($(document).width())
      const themeMedia = window.matchMedia("(prefers-color-scheme: dark)"); if (themeMedia.matches) document.documentElement.classList.add("dark"); function theme() { if (document.documentElement.classList.contains("dark")) document.documentElement.classList.remove("dark"); else document.documentElement.classList.add("dark"); }
      const tocopy = '<svg width="20" height="20" viewBox="0 0 48 48" fill="none"><path d="M13 12.4316V7.8125C13 6.2592 14.2592 5 15.8125 5H40.1875C41.7408 5 43 6.2592 43 7.8125V32.1875C43 33.7408 41.7408 35 40.1875 35H35.5163" stroke="#333" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/><path d="M32.1875 13H7.8125C6.2592 13 5 14.2592 5 15.8125V40.1875C5 41.7408 6.2592 43 7.8125 43H32.1875C33.7408 43 35 41.7408 35 40.1875V15.8125C35 14.2592 33.7408 13 32.1875 13Z" fill="none" stroke="#333" stroke-width="3" stroke-linejoin="round"/></svg>'
      const ifcopy = '<svg width="20" height="20" viewBox="0 0 48 48" fill="none"><path d="M10 24L20 34L40 14" stroke="#333" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/></svg>'
      $(function () {
         var pres = $("pre");
         if (pres.length)
            pres.each(function () {
               var tx = $(this).children("code").text();
               var btn = $('<span class="copy">' + tocopy + '</span>').attr("data-clipboard-text", tx);
               $(this).prepend(btn);
               var c = new ClipboardJS(btn[0]);
               c.on("success", function () {
                  btn.addClass("Copied").html(ifcopy);
                  setTimeout(function () {
                     btn.html(tocopy).removeClass("Copied");
                  }, 750);
               });
               c.on("error", function () {
                  btn.html('<svg width="20" height="20" viewBox="0 0 48 48" fill="none"><path d="M14 14L34 34" stroke="#333" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/><path d="M14 34L34 14" stroke="#333" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/></svg>');
               });
            });
      });
      const rs = () => {
         var left = $(".drags").position().left;
         var width = $(".drags").width()
         if ($(document).width() - width < left)
            $(".drags").css({ left: $(document).width() - width + 'px', right: 'auto' })
      };
      window.addEventListener('resize', rs);
   </script>
   <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.10/clipboard.min.js"></script>
   <script>
      var list = []
      $('#markdown h1,#markdown h2,#markdown h3,#markdown h4,#markdown h5,#markdown h6').each(function (i) {
         $(this).attr('id', $(this).text());
         list.push('<a class=' + $(this)[0].nodeName + ' href="#' + $(this).text() + '">' + $(this).text() + '</a>')
      });
      $('#contents').prepend(list);
      $(function () {
         var $box = $("#overview");
         eleDragStatus($box)
      });
      function eleDragStatus($box) {
         $box.mousedown(function (event) {
            var old_left = event.pageX;
            var old_top = event.pageY;
            var old_position_left = $(this).position().left;
            var old_position_top = $(this).position().top;
            $(document).mousemove(function (event) {
               var new_left = event.pageX;
               var new_top = event.pageY;
               var chang_x = new_left - old_left;
               var change_y = new_top - old_top;
               var new_position_left = old_position_left + chang_x;
               var new_position_top = old_position_top + change_y;
               if (new_position_top < 0) new_position_top = 0;
               if (new_position_top > document.body.clientHeight - $box.height())
                  new_position_top = document.body.clientHeight - $box.height();
               if (new_position_left > $(document).width() - $box.width()) new_position_left = $(document).width() - $box.width();
               if (new_position_left < 0) new_position_left = 0;
               $box.css({
                  left: new_position_left + 'px',
                  top: new_position_top + 'px',
                  right: 'auto'
               })
            });
            $box.mouseup(function () {
               $(document).off("mousemove");
            })
         });
      }
      $(".drags").on("dblclick", function () {
         if (!$(".drags").hasClass("pell"))
            $(".drags").addClass("pell");
         else
            $(".drags").removeClass("pell");
         $(".drags").css({
            left: 'auto',
            right: '0'
         })
      })
      hljs.highlightAll();
   </script>
</body>

</html>